*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.mobsubhead{
  background: rgb(199,248,219);
  background: linear-gradient(90deg, rgba(199,248,219,1) 14%, rgba(152,190,252,1) 88%); 
  width: 100vw;
}
.icon{
  position: relative;
  top:2.7rem;
  font-size: 1.8rem;
  color: aliceblue;
}
.mondivimg{
  
}


.mobul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  
}
.mobul li a{
  text-decoration: none;
}



.mobbar{
  margin: 0;
  padding:0;
  margin-top: 3rem;
  border-radius: 0.313rem;
  border-style: none;
  padding: 0.313rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.188rem 0.5rem;}
  
  

.mobapp{
  width: 1.5rem;
  height:1.5rem;
}
.mobsign{
  position: relative;
  top: 0.1rem;
  right: 1.7rem;
  
  
}
.mobtext a{
  position: relative;
  text-decoration-style: none;
  
}
#diss{
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
}
.navbar{
   height: 2.5rem;
   background: rgb(17,32,32);
   background: linear-gradient(90deg, rgba(17,32,32,1) 31%, rgba(0,71,185,1) 100%);
   
   display:flex ;
   justify-content: center;
   
}

.image{
    margin-left: 5rem;
    height: 7.5rem;
    width: 9.375rem;
}

.man{
    width: 6.875rem;
    height: 7.75rem;
    float: left;
    
}
.woman{

    width: 10.625rem;
    height: 7.75rem;
    float: right;
}


.navul{
    list-style: none;
    font-family:monospace;
    display: flex;
    margin: 0.625rem;
    margin-right: 1.875rem;
    font-size: 0.938rem;
}
.desktop{
    color: aliceblue;
    margin: 0 1.25rem;
    width: 6.25rem;
    text-decoration: double;
    padding: 0.625rem;
}
.logo{
    text-align: center;
    
    background: rgb(199,248,219);
    background: linear-gradient(90deg, rgba(199,248,219,1) 14%, rgba(152,190,252,1) 88%);
    /* box-shadow: 25r 25r 50r 0 white inset, -25r -25r 50r 0 white inset;  */
}

.desktop:hover{
    color: black;
    background-color: aliceblue;
    border-radius: 0.125rem;
    
}

.Searchbar{
 
  margin-left: 1.5rem;
  margin-bottom: 0.3rem;
  
  border-radius: 0.313rem;
  border-style: none;
  padding: 0.313rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.188rem 0.5rem;}
  /*transition: width 2s ease-in;*/

/*.Searchbar:hover{
    width: 70r;
}*/
.sign{
  position: relative;
  display: block;
  color: black;
  right: 1.3rem;
  top: 0.3rem;
}


#profile{
    position:relative;
    float: left;
    top: 8.563rem;

}
#p:hover{
    background-color: aliceblue;
    color: black;
}

#p{
    color: aliceblue;
}
.titan{
    width: 100%;
    height: 60vh;
    
}
.mobtitan{
  position: relative;
  width: 100%;
  height: 50vh;
  bottom: 2.89rem;

}
.rule{
  width:100%;
  text-align:left;
  margin:0; 
  border: solid;
  color: black;
  position: relative;
  bottom: 2.9rem;
  height: 0.3rem;
  background-color: black;
}
#myLinks {
  display: none;
  background-color: black;
}
#myLinks a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  
}

#mobimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#image{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.whatsapp{
    
    height: 1.75rem;
    position: relative;
    bottom: 2.5rem;
    right: 32.5rem;

}
.brandbtn{
  bottom: 0.72rem;
  position: relative;
}
.text{
    font-size: 0.938rem;
    text-decoration: none;
    position: relative;
    bottom: 3.125rem;
    right: 32.5rem;
    color: black;
    border: black;
    font-weight: bold;
}


  /* Default styles for the burger menu icon */
.burger-icon {
  display: none; /* hide by default */
}

/* Styles for the navigation menu */
nav {
  /* Your navigation menu styles */
}
@media only screen and (min-width: 1037px) {
    .mobhead{
      display: none;
    
    }
    
}
  

/* Media query for medium screens */
@media only screen and (max-width: 1036px) {
  /* Show the burger menu icon */
 

  /* Hide the navigation menu */
  .navbar {
    display: none;
  }
  .logo{
    display:none;
  }
  .titan{
    display: none;
  }

  /* Styles for the burger menu icon when clicked */
  .burger-icon.clicked {
    /* Your burger menu styles */
  }
}
@media only screen and (max-width: 1036px) {
    /* Show the burger menu icon */
   
  
    /* Hide the navigation menu */
    .mobhead{
      display: inline-block;
    }
    .navbar {
      display: none;
    }
    .logo{
      display:none;
    }
    .titan{
      display: none;
    }

  
    /* Styles for the burger menu icon when clicked */
    .burger-icon.clicked {
      /* Your burger menu styles */
    }
  }
  .mobtext{

  }

  .menu1 {
    width: 100%;
    background-color: #02173F;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .hamburger{
    width: 25px;
    height: 25px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }
